@import "tailwindcss";

@theme {
    --color-ButtonMain: #19e6d5;
    --color-Hoverbutton: #19968e;
    --color-BackgroundMain: #0a1212;
    --color-TextMain: #ffffff;
    --color-Gradient1: #9e6d5;
    --color-Repocolor: #11141a;


}