@import "tailwindcss";

@theme {
    --color-ButtonMain: #19e6d5;
    --color-Hoverbutton: #19968e;
    --color-BackgroundMain: #0a1212;
    --color-TextMain: #ffffff;
    --color-GradientStart: #40ffaa, #4079ff, #40ffaa, #4079ff, #40ffaa;
}